body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin-top: 50px;
  background-color: azure;   
}

.headingBar{
  background-color: aqua;
  width: 100%;
}

.heading{
  font-size: 30px;
  color: black !important;
}

.sub-heading{
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  margin-left: 600px;
}

td{
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.actionBtn{
  background-color: rgb(6, 57, 124);
  border-radius: 5px;
  display: block;
  color: azure;
  text-align: center;
  font-size: 25px;  
}

.ProfilePicture{
  height: 200px;
  width :180px;  
}
.centerText{
  text-align: center;
}

input[type="file"] {
  border: 1px solid lightgray;
  white-space: normal;
  word-wrap: break-word;
  width: 250px;
  overflow: auto;
}

.CardProfile{
  width: 500px;
  margin-left: 100px;
}

.CardDocuments{
  width: 300px;
}